server:
    port: 8081

spring:
    datasource:
        url: ${DATABASE_URL}
        username: ${DATABASE_USERNAME}
        password: ${DATABASE_PASSWORD}
        driver-class-name: org.postgresql.Driver
        hikari:
            initialization-fail-timeout: 3600
    jpa:
        hibernate:
            ddl-auto: validate
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        generate-ddl: false
        open-in-view: false
        properties:
            hibernate:
                default_batch_fetch_size: 1000
                show_sql: true
                format_sql: true
    flyway:
        enabled: false
    data:
        redis:
            host: ${REDIS_HOST}
            port: ${REDIS_PORT}

app:
    season: 4

portone:
    api:
        url: https://api.iamport.kr
        price:
            single: 1000
            triple: 3000
        imp:
            key: ${PORTONE_API_IMP_KEY}
            secret: ${PORTONE_API_IMP_SECRET}

jwt:
    refresh:
        secret: ${JWT_REFRESH_SECRET}
        expiration: 1209600000

    access:
        secret: ${JWT_ACCESS_SECRET}
        expiration: 3600000

springdoc:
    swagger-ui:
        path: /swagger-ui/swagger-ui.html
        operationsSorter: method
        disable-swagger-default-url: true
        display-request-duration: true
    api-docs:
        path: /swagger-ui/api-docs
    show-actuator: true
    default-consumes-media-type: application/json
    default-produces-media-type: application/json

cloud:
    aws:
        region:
            static: ${CLOUD_AWS_SES_REGION}
        ses:
            isLocal: false
            from: support@uoslife.team
            iam:
                role-arn: ${CLOUD_AWS_SES_ROLE_ARN}
                role-session-name: UOSLIFEMeetingSES

management:
    endpoints:
        enabled-by-default: false
        web:
            exposure:
                include: health, info
            base-path: /meeting/actuator
    endpoint:
        health:
            probes:
                enabled: true
            enabled: true
            show-details: always
        info:
            enabled: true
    health:
        diskspace:
            enabled: false

account:
    url: https://account.uoslife.com
    access:
        id: ${ACCOUNT_API_ACCESS_ID}
        secret: ${ACCOUNT_API_ACCESS_SECRET}
