server:
    port: 8081

spring:
    datasource:
        url: ${env.DATABASE_URL}
        username: ${env.DATABASE_USERNAME}
        password: ${env.DATABASE_PASSWORD}
        driver-class-name: org.postgresql.Driver
        hikari:
            initialization-fail-timeout: 3600
    jpa:
        hibernate:
            ddl-auto: validate
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        generate-ddl: true
        properties:
            hibernate:
                default_batch_fetch_size: 1000
                show_sql: true
                format_sql: true

springdoc:
    swagger-ui:
        path: /swagger-ui.html
        operationsSorter: method
        disable-swagger-default-url: true
        display-request-duration: true
    api-docs:
        path: /api-docs
    show-actuator: true
    default-consumes-media-type: application/json
    default-produces-media-type: application/json

app:
    originProfileGetUrl: https://uoslife.com/api/me?currentTime=
