server:
    port: 8081

spring:
    datasource:
        url: ${DATABASE_URL}
        username: ${DATABASE_USERNAME}
        password: ${DATABASE_PASSWORD}
        driver-class-name: org.postgresql.Driver
        hikari:
            initialization-fail-timeout: 3600
    jpa:
        hibernate:
            ddl-auto: create
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        generate-ddl: false
        open-in-view: false
        properties:
            hibernate:
                default_batch_fetch_size: 1000
                show_sql: false
                format_sql: true
    flyway:
        enabled: true
    data:
        redis:
            host: ${REDIS_HOST}
            port: ${REDIS_PORT}

app:
    season: 5

portone:
    api:
        url: https://api.iamport.kr
        price:
            single: 2000
            triple: 6000
        imp:
            key: ${PORTONE_API_IMP_KEY}
            secret: ${PORTONE_API_IMP_SECRET}

springdoc:
    swagger-ui:
        path: /swagger-ui/swagger-ui.html
        operationsSorter: method
        disable-swagger-default-url: true
        display-request-duration: true
    api-docs:
        path: /swagger-ui/api-docs
    show-actuator: true
    default-consumes-media-type: application/json
    default-produces-media-type: application/json

management:
    endpoints:
        enabled-by-default: false
        web:
            exposure:
                include: health, info
            base-path: /meeting/actuator
    endpoint:
        health:
            probes:
                enabled: true
            enabled: true
            show-details: always
        info:
            enabled: true
    health:
        diskspace:
            enabled: false

account:
    url: ${ACCOUNT_API_URL}
    access:
        id: ${ACCOUNT_API_ACCESS_ID}
        secret: ${ACCOUNT_API_ACCESS_SECRET}

logging:
    level:
        org:
            springframework:
                web:
                    filter: INFO

jwt:
    access:
        secret: ${JWT_ACCESS_SECRET}
        expiration: 3600000 # 1시간
    refresh:
        secret: ${JWT_REFRESH_SECRET}
        expiration: 604800000 # 7일

aws:
    ses:
        access-key: ${AWS_SES_ACCESS_KEY}
        secret-key: ${AWS_SES_SECRET_KEY}
        region: ap-northeast-2
        role-arn: arn:aws:iam::755333364809:role/uoslife-v2--ses
        role-session-name: uoslife-v2--ses
        email:
            title: UOSLIFE 인증 메일입니다.
            from: 시대생팀 <no-reply@uoslife.team>
            reply-to: 시대생팀 <support@uoslife.team>
            verify-url: https://api.uoslife.com/v1/verification/email/verify

auth:
    email:
        verification-code-expiry: 180  # 3분
        daily-send-limit: 5  # 하루 최대 발송 횟수
